#wa-compbutton-l81szb5d688rgw-btn {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;color:#ffffff; background-color:rgba(42,96,16,0); font-family:Georgia, 'DejaVu Serif', Norasi, serif; border-color:#ffffff;}
#wa-compbutton-l81szb5d688rgw-btn-halign {text-align:center;}
#wa-compbutton-l81szb5d688rgw-btn:hover {background-color:#2a6010;}
#wa-compsubpage-l7xk5rhl4088so {border-radius:0px 0px 0px 0px;border-width:0px 0px 1px 0px;border-style: solid;border-color:#f4f4f4;padding:0px 0px 0px 0px;}
#wa-compsubpage-l7xk5rhl4088so>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-l7xk5rhl4088so>.wa-container-vspacer {height:0px;}
#wa-compsubpage-l7xk6q2a34yq2g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#071002;padding:0px 0px 0px 0px;}
#wa-compsubpage-l7xk6q2a34yq2g>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-l7xk6q2a34yq2g>.wa-container-vspacer {height:0px;}
#wa-comptext-l7xjqyd347lvoo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 10px;}
#wa-comptext-l7xjwgft4vbcrs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:5px 5px 5px 5px;}
#wa-comptext-l81m6zzj6b2648 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-l81ryfv56gkpps {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-l85pxuug4pq9so {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-l85py4t33pgp5s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-container-l85qbvli5cdeww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-l85qbvli5cdeww>.row>.clearfix {margin-bottom:0px;}
#wa-container-l85qbvli5cdeww>.wa-container-vspacer {height:0px;}
#wa-container-l85qbvlx5cdh88 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#fdfdfd;padding:0px 0px 0px 0px;}
#wa-container-l85qbvlx5cdh88>.row>.clearfix {margin-bottom:0px;}
#wa-container-l85qbvlx5cdh88>.wa-container-vspacer {height:0px;}
#wa-container-l85qbvm65cdggg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-l85qbvm65cdggg>.row>.clearfix {margin-bottom:0px;}
#wa-container-l85qbvm65cdggg>.wa-container-vspacer {height:0px;}
#wa-container-l85qbvmf5cdddc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#edf6ff;padding:0px 0px 0px 0px;}
#wa-container-l85qbvmf5cdddc>.row>.clearfix {margin-bottom:0px;}
#wa-container-l85qbvmf5cdddc>.wa-container-vspacer {height:0px;}
#wa-container-l85qbvmm4pzqq8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-l85qbvmm4pzqq8>.row>.clearfix {margin-bottom:0px;}
#wa-container-l85qbvmm4pzqq8>.wa-container-vspacer {height:0px;}
#wa-image-gallery-col-container-l82xxdwu4o91xs {margin: -2px 0px;padding:0px 0px 0px 0px;}
#wa-image-gallery-row-l82xxdwu4o91xs {margin:0px -2px;}
#wa-image-gallery-row-l82xxdwu4o91xs>div {padding: 2px;}
#wa-row-l7xjpl5247k0mg {margin:0px 0px;}
#wa-row-l7xjpl5247k0mg>div {padding: 0px 0px;}
#wa-row-l7xjqyd34vrv48 {margin:0px 0px;}
#wa-row-l7xjqyd34vrv48>div {padding: 0px 0px;}
#wa-row-l7xjt9533znu08 {margin:0px 0px;}
#wa-row-l7xjt9533znu08>div {padding: 0px 0px;}
#wa-row-l7xk1dvj35jzsw>.wa-item-rowspacer {height:5px;}
#wa-row-l7xk686y40oxtk {margin:0px 0px;}
#wa-row-l7xk686y40oxtk>div {padding: 0px 0px;}
#wa-row-l7xmykti45bjtc {margin:0px 0px;}
#wa-row-l7xmykti45bjtc>div {padding: 0px 0px;}
#wa-row-l7xn0kx54096pk>.wa-item-rowspacer {height:50px;}
#wa-row-l81m6x3k58r27c {margin:0px 0px;}
#wa-row-l81m6x3k58r27c>div {padding: 0px 0px;}
#wa-row-l81qbstr5a6sco {margin:0px 0px;}
#wa-row-l81qbstr5a6sco>div {padding: 0px 0px;}
#wa-row-l81s1eto69z6g8>.wa-item-rowspacer {height:50px;}
#wa-row-l81s1h1g69z2w8>.wa-item-rowspacer {height:50px;}
#wa-row-l81swwu5550q0o {margin:0px 0px;}
#wa-row-l81swwu5550q0o>div {padding: 0px 0px;}
#wa-row-l81sz8wr6bgkv4 {margin:0px 0px;}
#wa-row-l81sz8wr6bgkv4>div {padding: 0px 0px;}
#wa-row-l81t0hdh6bgskg>.wa-item-rowspacer {height:20px;}
#wa-row-l81t1xh96bgv8g>.wa-item-rowspacer {height:75px;}
#wa-row-l82xx6tj4ofpf4 {margin:0px 0px;}
#wa-row-l82xx6tj4ofpf4>div {padding: 0px 0px;}
#wa-row-l82xyt2t4ned1c>.wa-item-rowspacer {height:50px;}
#wa-row-l82xzket4neef4>.wa-item-rowspacer {height:100px;}
#wa-row-l84he1h54de9l4>.wa-item-rowspacer {height:50px;}
#wa-row-l84vd9m151otf4 {margin:0px 0px;}
#wa-row-l84vd9m151otf4>div {padding: 0px 0px;}
#wa-row-l85pxs0m2gbqlk {margin:0px 0px;}
#wa-row-l85pxs0m2gbqlk>div {padding: 0px 0px;}
#wa-row-l85py29r2gbp9k {margin:0px 0px;}
#wa-row-l85py29r2gbp9k>div {padding: 0px 0px;}
#wa-row-l85pymgv4stoww {margin:0px 0px;}
#wa-row-l85pymgv4stoww>div {padding: 0px 0px;}
#wa-sub-container-l85qbvly5cdbts {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-l85qbvly5cdbts>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-l85qbvly5cdbts>.wa-container-vspacer {height:0px;}
#wa-sub-container-l85qbvm15cdclk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-l85qbvm15cdclk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-l85qbvm15cdclk>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-l7xjqyd34573i0] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-l7xjqyd34573i0] .dropdown-menu > li > a:hover, [id^=wa-compmenu-l7xjqyd34573i0] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-l7xjqyd34573i0] .navbar-default {background-color:rgba(248,248,248,0); border-color:rgba(247,247,247,0); border-width:1px; border-radius:4px;}
[id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-brand, [id^=wa-compmenu-l7xjqyd34573i0].navbar-nav li a, [id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Georgia, 'DejaVu Serif', Norasi, serif; font-size:14px; color:#f33428;}
[id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#3f9118;}
[id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-nav > .open > a:focus {color:#3f9118; background-color:#ffc4c1;}
[id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0) !important; border-color:#dddddd !important;}
[id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-l7xjqyd34573i0] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-l7xjqyd34573i0].navbar-default .navbar-toggle:hover {background-color:#dddddd !important;}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-l7xjpl5247k0mg {margin:0px 0px;}
#wa-row-l7xjpl5247k0mg>div {padding: 0px 0px;}
#wa-row-l7xjqyd34vrv48 {margin:0px 0px;}
#wa-row-l7xjqyd34vrv48>div {padding: 0px 0px;}
#wa-row-l7xjt9533znu08 {margin:0px 0px;}
#wa-row-l7xjt9533znu08>div {padding: 0px 0px;}
#wa-row-l7xk686y40oxtk {margin:0px 0px;}
#wa-row-l7xk686y40oxtk>div {padding: 0px 0px;}
#wa-row-l7xmykti45bjtc {margin:0px 0px;}
#wa-row-l7xmykti45bjtc>div {padding: 0px 0px;}
#wa-row-l81m6x3k58r27c {margin:0px 0px;}
#wa-row-l81m6x3k58r27c>div {padding: 0px 0px;}
#wa-row-l81qbstr5a6sco {margin:0px 0px;}
#wa-row-l81qbstr5a6sco>div {padding: 0px 0px;}
#wa-row-l81swwu5550q0o {margin:0px 0px;}
#wa-row-l81swwu5550q0o>div {padding: 0px 0px;}
#wa-row-l81sz8wr6bgkv4 {margin:0px 0px;}
#wa-row-l81sz8wr6bgkv4>div {padding: 0px 0px;}
#wa-row-l82xx6tj4ofpf4 {margin:0px 0px;}
#wa-row-l82xx6tj4ofpf4>div {padding: 0px 0px;}
#wa-row-l84vd9m151otf4 {margin:0px 0px;}
#wa-row-l84vd9m151otf4>div {padding: 0px 0px;}
#wa-row-l85pxs0m2gbqlk {margin:0px 0px;}
#wa-row-l85pxs0m2gbqlk>div {padding: 0px 0px;}
#wa-row-l85py29r2gbp9k {margin:0px 0px;}
#wa-row-l85py29r2gbp9k>div {padding: 0px 0px;}
#wa-row-l85pymgv4stoww {margin:0px 0px;}
#wa-row-l85pymgv4stoww>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-l7xjpl5247k0mg {margin:0px 0px;}
#wa-row-l7xjpl5247k0mg>div {padding: 0px 0px;}
#wa-row-l7xjqyd34vrv48 {margin:0px 0px;}
#wa-row-l7xjqyd34vrv48>div {padding: 0px 0px;}
#wa-row-l7xjt9533znu08 {margin:0px 0px;}
#wa-row-l7xjt9533znu08>div {padding: 0px 0px;}
#wa-row-l7xk686y40oxtk {margin:0px 0px;}
#wa-row-l7xk686y40oxtk>div {padding: 0px 0px;}
#wa-row-l7xmykti45bjtc {margin:0px 0px;}
#wa-row-l7xmykti45bjtc>div {padding: 0px 0px;}
#wa-row-l81m6x3k58r27c {margin:0px 0px;}
#wa-row-l81m6x3k58r27c>div {padding: 0px 0px;}
#wa-row-l81qbstr5a6sco {margin:0px 0px;}
#wa-row-l81qbstr5a6sco>div {padding: 0px 0px;}
#wa-row-l81swwu5550q0o {margin:0px 0px;}
#wa-row-l81swwu5550q0o>div {padding: 0px 0px;}
#wa-row-l81sz8wr6bgkv4 {margin:0px 0px;}
#wa-row-l81sz8wr6bgkv4>div {padding: 0px 0px;}
#wa-row-l82xx6tj4ofpf4 {margin:0px 0px;}
#wa-row-l82xx6tj4ofpf4>div {padding: 0px 0px;}
#wa-row-l84vd9m151otf4 {margin:0px 0px;}
#wa-row-l84vd9m151otf4>div {padding: 0px 0px;}
#wa-row-l85pxs0m2gbqlk {margin:0px 0px;}
#wa-row-l85pxs0m2gbqlk>div {padding: 0px 0px;}
#wa-row-l85py29r2gbp9k {margin:0px 0px;}
#wa-row-l85py29r2gbp9k>div {padding: 0px 0px;}
#wa-row-l85pymgv4stoww {margin:0px 0px;}
#wa-row-l85pymgv4stoww>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-l7xjpl5247k0mg {margin:0px 0px;}
#wa-row-l7xjpl5247k0mg>div {padding: 0px 0px;}
#wa-row-l7xjqyd34vrv48 {margin:0px 0px;}
#wa-row-l7xjqyd34vrv48>div {padding: 0px 0px;}
#wa-row-l7xjt9533znu08 {margin:0px 0px;}
#wa-row-l7xjt9533znu08>div {padding: 0px 0px;}
#wa-row-l7xk686y40oxtk {margin:0px 0px;}
#wa-row-l7xk686y40oxtk>div {padding: 0px 0px;}
#wa-row-l7xmykti45bjtc {margin:0px 0px;}
#wa-row-l7xmykti45bjtc>div {padding: 0px 0px;}
#wa-row-l81m6x3k58r27c {margin:0px 0px;}
#wa-row-l81m6x3k58r27c>div {padding: 0px 0px;}
#wa-row-l81qbstr5a6sco {margin:0px 0px;}
#wa-row-l81qbstr5a6sco>div {padding: 0px 0px;}
#wa-row-l81swwu5550q0o {margin:0px 0px;}
#wa-row-l81swwu5550q0o>div {padding: 0px 0px;}
#wa-row-l81sz8wr6bgkv4 {margin:0px 0px;}
#wa-row-l81sz8wr6bgkv4>div {padding: 0px 0px;}
#wa-row-l82xx6tj4ofpf4 {margin:0px 0px;}
#wa-row-l82xx6tj4ofpf4>div {padding: 0px 0px;}
#wa-row-l84vd9m151otf4 {margin:0px 0px;}
#wa-row-l84vd9m151otf4>div {padding: 0px 0px;}
#wa-row-l85pxs0m2gbqlk {margin:0px 0px;}
#wa-row-l85pxs0m2gbqlk>div {padding: 0px 0px;}
#wa-row-l85py29r2gbp9k {margin:0px 0px;}
#wa-row-l85py29r2gbp9k>div {padding: 0px 0px;}
#wa-row-l85pymgv4stoww {margin:0px 0px;}
#wa-row-l85pymgv4stoww>div {padding: 0px 0px;}
}
