.wa_style_l7vqwde13a2ggw
{
	font-size: 30px;
	color: #333333;
	line-height: 42px;
}

.wa_style_l7vqwde13a2gjk
{
	font-size: 20px;
	color: #333333;
	line-height: 28px;
}

.wa_style_l7vqwde13a2gm8
{
	font-size: 14px;
	color: #333333;
}

